!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "footer, address, phone, icons", :name => "keywords"}/
    %title
    %link{:href => "stylesheets/footer.scss", :rel => "stylesheet"}/
    %link{:href => "http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Cookie", :rel => "stylesheet", :type => "text/css"}/
  %body
    / The content of your page would go here.
    %footer.footer-distributed
      .footer-left
        %p.footer-company-name Bucket List © 2018
      .footer-center
        %div
          %i.fa.fa-map-marker
          %p
            %span 18/F Tallabag
            Dhaka, Bangladesh
        %div
          %i.fa.fa-phone
          %p +88-01795-323956
        %div
          %i.fa.fa-envelope
          %p
            %a{:href => "mailto:support@company.com"} zahidcse4960@gmail.com
      .footer-right
        %p.footer-company-about
          %span About the Bucket List
          Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
        .footer-icons
          %a{:href => "https://www.facebook.com/profile.php?id=100010866516396"}
            %i.fa.fa-facebook
          %a{:href => "https://twitter.com/ZahidHasan4960"}
            %i.fa.fa-twitter
          %a{:href => "https://www.linkedin.com/in/zahid-hasan-381aa1153/"}
            %i.fa.fa-linkedin
          %a{:href => "https://github.com/Zahid4960"}
            %i.fa.fa-github
>
