#buckets.transitions-enabled
  - @buckets.each do |bucket|
    .box.panel.panel-default
      = link_to (image_tag bucket.image.url), bucket
      .panel-body
        %h2= link_to bucket.title, bucket
        %p.user
        Submitted by
        = bucket.user.email

= render 'footer'        